---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import SubHeader from "../components/sub-header.astro";
import type { CollectionEntry } from "astro:content";


import { useTranslations, type UiType } from "../i18n/utils";

type Props = CollectionEntry<"blog">["data"];


const { title, description, lang } = Astro.props;

const t = useTranslations(lang as UiType);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon-libella.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<header title={t("site.title")} lang={lang}>
		<Navbar lang={lang} title={title} description={description} />
	</header>
	<body>
		<SubHeader />
		<main
			class="max-w-screen-xl flex-wrap items-center justify-between mx-auto p-4"
		>
			<slot />
		</main>
	</body>
	<Footer />

	<style is:global>
		:root {
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
		}
		html {
			font-family: 'Times New Roman', Times, serif;
			background: #ffffff;
			background-size: 224px;
		}
		code {
			font-family:
				Menlo,
				Monaco,
				Lucida Console,
				Liberation Mono,
				DejaVu Sans Mono,
				Bitstream Vera Sans Mono,
				Courier New,
				monospace;
		}
	</style>


</html>
